* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(144, 166, 177, 0.884);
}

.hidden {
    display: none;
}

.app-wrap {
    display: flex;
}

.display-4 {
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
}

.input-group {
    display: table-column;
    /* border: black solid 2px; */
    border-radius: 5px;
    justify-content: center;
    align-items: top;
    /* padding: 0; */
}

.input-box {
    /* display: table-row; */
    display: inline-flex;
    padding: 5px;
}


.city-weather {
    border: grey 2px solid;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
}

#cityUV {
    display: inline-block;
}


.forecast-container {
    padding: 15px;
    justify-content: space-between;
}

.day {
    background-color: rgba(1, 4, 8, 0.863);
    color: white;
    border: solid grey 2px;
    border-radius: 4px;
}

.user-buttons {
    border: none;
    margin:5px;
    background-color: rgba(1, 4, 8, 0.863);
}

#searchButton {
    background-color: rgba(1, 4, 8, 0.863);
}

#clearHistory {
    background-color: rgb(177, 5, 5);
}